{% extends "base.html" %}
{% block title %}Blog{% endblock %} 

{% block content %}
<div class="container mt-5">
  <div class="row">
    <!-- Blog Posts Column -->
    <div class="col-md-8">
      {% for post in blog_posts %}
        <div class="mb-4">
          <h2>{{ post.title }}</h2>
          <p class="text-muted">Posted on {{ post.date }} by {{ post.author }}</p>
          {{ post.excerpt }}
          <a href="{{ url_for('views.blog_post', post_id=post.id) }}" class="btn btn-pastel-blue">Read More</a>
        </div>
      {% endfor %}
</div>
{% endblock %}
