{% extends "base.html" %}
{% block title %}{{ blog_post.title }}{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <!-- Blog Post Content Column -->
    <div class="col-md-8">
      <div class="mb-4 blog-post-container">
        <h2>{{ blog_post.title }}</h2>
        <p class="text-muted">Posted on {{ blog_post.date }} by {{ blog_post.author }}</p>
        <div class="blog-post-img-container">{{ blog_post.content|safe }}</div>
        <!-- Display images and videos if available -->
        {% for image_url in blog_post.image_urls %}
          <div class="d-flex justify-content-center mt-3">
            <img src="{{ image_url }}" alt="Image" class="img-fluid rounded" style="max-width: 100%;">
          </div>
        {% endfor %}
      </div>
      <div class="text-center mt-3">
        <p><em>For questions and suggestions please get in touch @georgelindley_ on X (Twitter).</em></p>
      </div>
      <br>
      <div class="text-center mt-3">
        <a href="{{ url_for('views.blog_home') }}" class="btn btn-primary">Back to All Posts</a>
      </div>
      <br>
    </div>
  </div>
</div>
{% endblock %}
