{% extends "base.html" %}
{% block title %}Blog{% endblock %} 

{% block content %}
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1>My Blog</h1>
          <p class="lead">Welcome to my blog!</p>
          <hr>
          <h2>Blog Post Title</h2>
          <p class="text-muted">Posted on January 1, 2021 by John Smith</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, nibh eget posuere cursus, felis velit dapibus enim, vel laoreet diam massa at odio. Proin auctor, quam vel rutrum maximus, elit augue mattis sapien, ac bibendum elit augue euismod nulla. </p>
          <a href="#" class="btn btn-primary">Read More</a>
          <hr>
          <h2>Blog Post Title 2</h2>
          <p class="text-muted">Posted on January 2, 2021 by John Smith</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, nibh eget posuere cursus, felis velit dapibus enim, vel laoreet diam massa at odio. Proin auctor, quam vel rutrum maximus, elit augue mattis sapien, ac bibendum elit augue euismod nulla. </p>
          <a href="#" class="btn btn-primary">Read More</a>
          <hr>
        </div>
        <div class="col-md-4">
          <h2>About Me</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed hendrerit, nibh eget posuere cursus, felis velit dapibus enim, vel laoreet diam massa at odio.</p>
          <h2>Categories</h2>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Category 1</a></li>
            <li class="list-group-item"><a href="#">Category 2</a></li>
            <li class="list-group-item"><a href="#">Category 3</a></li>
          </ul>
          <h2>Latest Posts</h2>
          <ul class="list-group">
            <li class="list-group-item"><a href="#">Blog Post Title</a></li>
            <li class="list-group-item"><a href="#">Blog Post Title 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
{% endblock %}