{% extends "base.html" %}
{% block title %}CEFR Analyzer{% endblock %} 

{% block content %}

<head>
    <title>CEFR Analyzer</title>
</head>
<body>
    <br>
    <div class="container-fluid p-0 m-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h1 class="card-title">CEFR Analyser</h1>
                    <p class="card-text">Each CEFR language analyser draws upon academic research done into the unique aspects of the individual languages.</p>
                    <form action="/cefr_analyser" method="post">
                        <div class="card-body">
                            <label for="cars">Choose a language:</label>
                            <select name="language" id="language" class="form-control">
                                <option value="Arabic">Arabic</option>
                                <option value="English">English</option>
                                <option value="German">German</option>
                                <option value="Italian">Italian</option>
                                <option value="Spanish">Spanish</option>
                            </select>
                            <br>
                            <textarea name="text" rows="10" cols="50" class="form-control" placeholder="Enter at least one sentence."></textarea>
                            <input type="submit" value="Analyse" class="btn btn-pastel-red">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}