{% extends "base.html" %}
{% block title %}GSE Analyser{% endblock %}

{% block content %}

<head>
    <title>GSE Analyser</title>
</head>

<body>
    <br>
    <div class="container-fluid p-0 m-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h1 class="card-title">GSE Analyser</h1>
                    <p class="card-text">The most advanced English text analyser on the internet. Taking into account the GSE 35,000 wordlist to give an exact GSE score.</p>
                    <form action="/gse_analyser" method="post">
                        <textarea name="text" rows="10" cols="50" class="form-control" placeholder="Enter at least one sentence."></textarea>
                        <input type="submit" value="Analyse" class="btn btn-pastel-green">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br>

    <div class="container-fluid p-0 m-0">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h1 class="card-title">How Our Analysers Work</h1>
                    <p class="card-text">Discover the technology behind our futuristic GSE and CEFR Text Analysers.</p>
                    <a href="/blog/1" class="btn btn-pastel-green">Read More</a>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}