{% extends "base.html" %}
{% block title %}Home{% endblock %} 

{% block content %}
<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 5px;">
                    <h1>Welcome to CEFR.AI</h1>
                    <p>Unlocking the rich language learning research of the CEFR and GSE, using artificial intelligence. Explore the site to find a host of tools powered by AI.</p>
                    <a href="#analyser-section" class="btn btn-pastel-green">Try our analysers</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5" id="analyser-section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 5px;">
                    <h2>Text Analysers</h2>
                    <p>Our website offers two text analysers: the GSE analyser for English, and the CEFR analyser for Arabic, English, German, Italian and Spanish.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 10px;">
                                <h3>GSE Analyser</h3>
                                <p>The most advanced English text analyser on the internet. Taking into account the GSE 35,000 wordlist in order to give an exact GSE score.</p>
                                <p>For other languages please use the CEFR anlayser.</p>
                                <form action="/gse_analyser" method="post">
                                    <textarea name="text" rows="10" cols="50" class="form-control"></textarea>
                                    <input type="submit" value="Analyse" class="btn btn-pastel-red">
                                </form>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 10px;">
                                <h3>CEFR Analyser</h3>
                                <p>Each CEFR language analyser draws upon academic research done into the unique aspects of the individual languages.</p>
                                <form action="/cefr_analyser" method="post">
                                    <label for="language">Choose a language:</label>
                                    <select name="language" id="language" class="form-control">
                                        <option value="Arabic">Arabic</option>
                                        <option value="English">English</option>
                                        <option value="German">German</option>
                                        <option value="Italian">Italian</option>
                                        <option value="Spanish">Spanish</option>
                                    </select>
                                    <br>
                                    <textarea name="text" rows="10" cols="50" class="form-control"></textarea>
                                    <input type="submit" value="Analyse" class="btn btn-pastel-blue">
                                </form>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 5px;">
                    <h2>CEFR.AI Blog</h2>
                    <p>Wondering how the anlysers work? Interested in language frameworks and AI, like we are? We created this blog to explore the wonderful greys and inbetweens.</p>
                    <a href="/blog" class="btn btn-pastel-purple">Read our blog</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5" id="blog-section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h2>Must read posts</h2>
                    <p>We are operating at the intersection of language frameworks and AI. To understand what we really mean and the purpose of this site we've selected two posts as must-reads.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 2px;">
                                <h3>The extraordinary power of the GSE</h3>
                                <p>The CEFR and the GSE are language frameworks that. The GSE has led to several breakthroughs in the past, and there are a few more round the corner!.</p>
                                <a href="/blog/1" class="btn btn-pastel-red">Read more</a>
                            </div>
                            <br>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px; margin-bottom: 2px;">
                                <h3>Large Language Models for Language Learning</h3>
                                <p>One of the key recent breakthroughs in AI is in the domain of language. Language learning and assessment will never be the same - here we detail why.</p>
                                <a href="/blog/3" class="btn btn-pastel-blue">Read more</a>
                            </div>
                            <br>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
{% endblock %}