{% extends "base.html" %}
{% block title %}Home{% endblock %} 

{% block content %}
<body>
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h1>Welcome to CEFR.AI</h1>
                    <p>Unlocking the rich language learning research of the CEFR and GSE, using artificial intelligence.</p>
                    <a href="#analyser-section" class="btn btn-pastel-green">Try our analysers</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5" id="analyser-section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h2>Text Analysers</h2>
                    <p>Our website offers two text analysers: the GSE analyser for English, and the CEFR analyser for Arabic, English, German, Italian and Spanish.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px;">
                                <h3>GSE Analyser</h3>
                                <p>The most advanced English text analyser on the internet. Taking into account the GSE 35,000 wordlist in order to give an exact GSE score.</p>
                                <p>For other languages please use the CEFR anlayser.</p>
                                <form action="/gse_analyser" method="post">
                                    <textarea name="text" rows="10" cols="50" class="form-control"></textarea>
    
                                    <input type="submit" value="Analyse" class="btn btn-pastel-red">
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px;">
                                <h3>CEFR Analyser</h3>
                                <p>Each CEFR language analyser draws upon academic research done into the unique aspects of the individual languages.</p>
                                <form action="/cefr_analyser" method="post">
                                    <label for="language">Choose a language:</label>
                                    <select name="language" id="language" class="form-control">
                                        <option value="Arabic">Arabic</option>
                                        <option value="English">English</option>
                                        <option value="German">German</option>
                                        <option value="Italian">Italian</option>
                                        <option value="Spanish">Spanish</option>
                                    </select>
                                    <br>
                                    <textarea name="text" rows="10" cols="50" class="form-control"></textarea>
                                    <input type="submit" value="Analyse" class="btn btn-pastel-blue">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h2>Blog</h2>
                    <p>Wondering how the anlysers work? Interested in language frameworks and AI, like we are? We created this blog to explore the wonderful greys and inbetweens.</p>
                    <a href="#blog-section" class="btn btn-pastel-purple">Read our blog</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid mt-5" id="blog-section">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-white" style="border-radius: 15px; padding: 20px;">
                    <h2>Must read blog posts</h2>
                    <p>These two key blog posts will help you get the most out of the CEFR.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px;">
                                <h3>Why language frameworks</h3>
                                <p>Throughout this website you will see references to CEFR and GSE - language frameworks. Without language frameworks we wouldn't be able to say where a learner is, where he is going, and how he can get there.</p>
                                <a href="#" class="btn btn-pastel-red">Read more</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card bg-white" style="border-radius: 15px; padding: 20px;">
                                <h3>How we use AI</h3>
                                <p>The mission for this website is to use artificial intelligence to interpret and use the CEFR and GSE research. AI allows us to process large amounts of data to understand human language.</p>
                                <a href="#" class="btn btn-pastel-blue">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</body>
{% endblock %}