{% extends "base.html" %}
{% block title %}How long does it take to learn a language?{% endblock %} 

{% block content %}
    <body>
    <h1>How long does it take to learn a language?</h1>
    <p>The GSE team at Pearson helpfully published its guidance on how long it takes to learn a language. Here we will discuss the results!</p>
    <table>
        <thead>
        <tr>
        <th rowspan="2">CEF CSE</th>
        <th rowspan="2">Hours per level</th>
        <th colspan="2">Total cumulative Hours required</th>
        <th colspan="2">3 pt GSE-gain</th>
        </tr>
        <tr>
        <th>Start</th>
        <th>Finish</th>
        <th>Fast</th>
        <th>Slow</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>A1 A1</td>
        <td>10</td>
        <td>95</td>
        <td>480</td>
        <td>95</td>
        <td>480</td>
        </tr>
        <tr>
        <td>A1 A2</td>
        <td>22</td>
        <td>95</td>
        <td>290</td>
        <td>190</td>
        <td>770</td>
        </tr>
        <tr>
        <td>A2 B1</td>
        <td>30</td>
        <td>190</td>
        <td>616</td>
        <td>380</td>
        <td>1386</td>
        </tr>
        <tr>
        <td>B1 B2</td>
        <td>43</td>
        <td>380</td>
        <td>1109</td>
        <td>760</td>
        <td>2495</td>
        </tr>
        <tr>
        <td>B2 C1</td>
        <td>59</td>
        <td>760</td>
        <td>1996</td>
        <td>1520</td>
        <td>4491</td>
        </tr>
        </tbody>
    </table>
    <p>For the full publication please see here: <a href="https://www.pearson.com/content/dam/one-dot-com/one-dot-com/pearson-languages/en-gb/blogs/GSE-learning-hours-report.pdf">How long does it take to learn a language? PDF</a></p>
    </body>
{% endblock %}