/* Reset some default browser styles */
body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

/* General styling */
body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s; /* Transitions for smooth dark mode switch */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333;
  color: #f1f1f1; /* Light text color for dark mode */
}

/* Toggle slider styles */
.switch-container {
  display: flex;
  align-items: center; /* Align the switch vertically */
  /* add space to the left of the switch container */
  margin-left: auto;
  margin-right: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 47px; /* Decreased width */
  height: 24px; /* Decreased height */

}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px; /* Adjusted border-radius */
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px; /* Decreased height */
  width: 16px; /* Decreased width */
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: teal;
}

input:focus + .slider {
  box-shadow: 0 0 1px teal;
}

input:checked + .slider:before {
  transform: translateX(22px); /* Adjusted translation value */
}

.sun-icon,
.moon-icon {
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: teal;
  margin: 0 4px;
}

/* Custom CSS for buttons */
.btn-pastel-blue,
.btn {
  background-color: teal; /* Changed color to teal */
  color: #fff;
  border: none; /* Added to remove button border */
}

.btn-pastel-blue:hover,
.btn:hover {
  background-color: #c3a6e8; /* Lavender purple color */
  color: #fff;
}

/* Custom CSS for blog post images */
.blog-post-img-container {
  max-width: 100%;
  overflow: hidden;
}

.blog-post-img-container img {
  width: 100%;
  height: auto;
}

/* Card styles */
.card {
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
}

.blog-post-container {
  border: 1px dotted #ccc;
  padding: 20px;
  margin-bottom: 20px;
}

/* Teal color for blog post titles */
.blog-post-title {
  color: teal; /* Changed color to teal */
}

/* Add this at the end of your styles.css */
.hide-content {
  display: none;
}
